html,
.body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Ramaraja', serif;
}

.gradient {
    background: rgb(128,125,168);
    background: linear-gradient(90deg, rgba(128,125,168,1) 0%, rgba(199,92,180,1) 46%, rgba(171,235,161,1) 93%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:antiquewhite;
}