html,
.body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Ramaraja', serif;
}
.gradient {
    background: rgb(128,125,168);
    background: linear-gradient(90deg, rgba(128,125,168,1) 0%, rgba(199,92,180,1) 46%, rgba(171,235,161,1) 93%);
}
.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:antiquewhite;
}
.feature{
    color:antiquewhite;
}
.feature ul{
    padding-left: 2rem;
    list-style-type: square;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.gallery{
    background-color: burlywood;
}
.gallery img{
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}
.services {
    color:blanchedalmond;
}
.services img{
    max-width: 100%;
    height: auto;
}
.contact {
    max-width: 100%;
    height: 100px;
}